*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.board-row button{
    height: 70px;
    width: 70px; 
}

.board-row{
    width: 400px;
    margin: 3px auto;
}

.status{
    width: 400px;
    display: block;
    margin: 20px auto;
}
